.popup{
    background: white;
    border-radius: .6em;
    display: grid;
    grid-template-columns: 100px 1fr;
    align-items: center;
    height: auto;
    width: 350px;
    position: absolute;
    top: -110%;
    right: 50%;
    transform: translateX(50%) scale(0);
    transform-origin: bottom;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
    padding: 1.2em;
    z-index: var(--z-modal);
    text-align: right;

    &::after{
        content: "";
        width: 0; 
        height: 0; 
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-top: 20px solid #fff;
        position: absolute;
        top: 98%;
        right: 50%;
        transform: translateX(50%);
    }
    &-container{
        
    }
    &-items{
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    .pokemon{
        object-fit: contain;
        width: 100%;
        height: auto;
        padding-right:1em; 
    }
    .prev-pokemon{
        padding-left: .6em;
        width: 30%;
        height: auto;
        object-fit: contain;
    }
    &-evolution{
       padding: 1em 0;
    }
}

.table{
    &-evolution{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        .items{
            grid-column-start: 2 span;
        }
    }
}
.title{
    margin-bottom: 1em;
    border-bottom: 1px solid;
}