@import 'https://fonts.googleapis.com/css?family=Lato';


*,
*::before,
*:after {
  box-sizing: border-box;
}

body {
  margin : 0;
  font-family: 'Lato', sans-serif;
  min-height: 100vh;
}
h1,h2,h3,p{
  margin: 0;
  padding: 0;
}