// Typography
$font-family: 'sans-serif';
:root{
    --red: #FF2C55;
    --orange:#FF4E2D;
    --type-color:#f2f2f2;
    --water:#1652e2;
    --fire:#c0252e;
    --bug:#3b9950;
    --poison:#5e2d88;
    --flying:#49677d;
    --grass:#29c952;
    --dark:#5a5979;
    --dragon:#448b95;
    --electric:#e2df3f;
    --fairy:#971944;
    --fighting:#994024;
    --ghost:#33336b;
    --ground:#a57235;
    --ice:#93c7de;
    --normal:#75515b;
    --psychic:#f81c91;
    --rock:#8d3d21;
    --steel:#5f756d;
    --hp:#f44336;
    --speed:#2196f3;
    --sattack:#ff5722;
    --sdefense:#9c27b0;
    --defense:#3f51b5;
    --attack:#e91e63;
    --z-normal:1;
    --z-fixed:1000;
    --z-modal:100;
}
// Media queries
$phone: 576px;
$tablet: 768px;
$desktop: 1024px;