.percentage {
    &-hp {
        background: var(--hp);
    }

    &-speed {
        background: var(--speed);
    }

    &-special-attack {
        background: var(--sattack);
    }

    &-special-defense {
        background: var(--sdefense);
    }

    &-defense {
        background: var(--defense);
    }

    &-attack {
        background: var(--attack);
    }
}